__pycache__/
test/
runs-32/*
runs-64/*
runs-128/*
runs-256/*
runs-512/*
!runs-32/mem_params.csv
!runs-64/mem_params.csv
!runs-128/mem_params.csv
!runs-256/mem_params.csv
!runs-512/mem_params.csv
tmp/
.vscode/
data
nohup.out